---
import BaseLayout from '../layouts/BaseLayout.astro';
import ServerTime from "../components/ServerTime.astro";
import ServerTimeFB from "../components/ServerTimeFB.astro";
import RandomNumber from '../components/RandomNumber.jsx';
import Clock from '../components/Clock.jsx';
import LeafletMap from "../components/LeafletMap";
const pageTitle = import.meta.env.PUBLIC_TITLE;
const gpxFile = '/tracks/5_6_of_settle_loop_twice.gpx';
---

<BaseLayout pageTitle={pageTitle}>

    <section>
        <h1 class="text-lg">HTMX + {import.meta.env.PUBLIC_TITLE}</h1>

        <button class="primary" hx-get="/api/set-cookie" hx-target="#response" hx-swap="innerHTML">
            Set Cookie
        </button>

        <button class="primary" hx-get="/api/check-cookie" hx-target="#response" hx-swap="innerHTML">
            Check Cookie
        </button>

        <button class="primary" hx-get="/api/delete-cookie" hx-target="#response" hx-swap="innerHTML">
            Delete Cookie
        </button>

        <button class="primary" hx-get="/api/show-key" hx-target="#response" hx-swap="innerHTML">
            Show Key
        </button>

        <div
                hx-get="/api/random"
                hx-trigger="load"
                hx-target="#result"
                hx-swap="innerHTML">
        </div>

        <div id="result">Loading…</div>

        <div id="response" class="p-4 border">
            <p>Cookie :</p>
        </div>
    </section>

    <Clock client:load/>

    <ServerTime server:defer>
        <ServerTimeFB slot="fallback"/>
    </ServerTime>

    <RandomNumber client:idle/>

    <div style="height:100vh;">
        <LeafletMap gpxFile={gpxFile} client:only/>
    </div>

</BaseLayout>

<style>

    @reference "tailwindcss";

    .primary {
        @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;

    }

</style>